
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
    max-width: 1200px;
    color: #0a0a0a;
}

img {
    height: 150px auto;
    width: 250px;
}

h1 {
    text-align: center;
    color: rgb(206, 93, 93);
    background-color: rgb(255, 175, 109);
    padding: 24px;
}

.card {
    width: 600px;
    background-color: rgb(255, 175, 109);
    padding: 16px;
    margin: 16px auto;
}

.rendang {
    background-color: rgb(233, 127, 127);
    padding: 16px 8px;
    text-align: center;
}

.nasi-goreng {
    background-color: rgb(233, 127, 127);
    padding: 8px;
    text-align: center;
}

.sate {
    background-color: rgb(233, 127, 127);
    padding: 8px;
    text-align: center;
}

.page {
    text-align: left;
}

button {
    display: block;
    margin: 8px auto;
    padding: 0px 8px;
}